<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pervasif2014.kelompok6.sensory" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.pervasif2014.kelompok5.sensory.sensory"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Detect_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Accelero_Activity"
            android:label="@string/title_activity_accelero_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.GeoMagnetic_Activity"
            android:label="@string/title_activity_geo_magnetic_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Proximity_Activity"
            android:label="@string/title_activity_proximity_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Light_Activity"
            android:label="@string/title_activity_light_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Orientation_Activity"
            android:label="@string/title_activity_orientation_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.Gyroscope_Activity"
            android:label="@string/title_activity_gyroscope_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.GPS_Activity"
            android:label="@string/title_activity_gps_" >
        </activity>
        <activity
            android:name="com.pervasif2014.kelompok5.sensory.MainMenu"
            android:label="@string/title_activity_detect_" >
        </activity>
    </application>

</manifest>
